@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

@media (max-width: 767px){

    .header{
        height: 92px;
        width: 100%;
        background-color: rgba(207, 43, 43, 1);

        position: fixed;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-top: 8px;
    }

    .header h1{
        font-family: 'Righteous', cursive;
        color: #ffffff;
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;;
    }

    .header h2{
        color: #ffffff;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

}